@import "../../../assets/mixins.scss";

.canvas-holder{
    @include flex-center;
    height: 100%;
    width: 100%;
    .canvas {
        background-color: aliceblue;
        max-width: 100%;
    }
}