@import "../../../assets/mixins.scss";
@import "../../../assets/variables/colors.scss";

.lab1-title{
    @include form-input-label-font;
    font-size: 26px;
    text-align: center;
}

.draw-circle-button {
    @include flex-center;
    border-radius: 20px;
    width: 100%;
    border: $lab1-draw_circle-button-font-border-color solid 3px;
    background-color: #00000000;
    color: $lab1-draw_circle-button-font-border-color;
}

.draw-circle-button:hover {
    border: $lab1-draw_circle-button-font-border-color solid 3px !important;
    color: $lab1-draw_circle-button-font-border-color !important;
    background-color: $lab1-draw_circle-button-hover-background-color !important;
}