$main-black-color: #100F0F;
$main-white-color: #ffffff;

$lab1-create-button-font-border-color: #59FF30;
$lab1-shade-button-font-border-color: #09ecec;
$lab1-apply_color-button-font-border-color: #b278ff;
$lab1-draw_circle-button-font-border-color: #ffa755;

$button-background-color: $main-black-color;
$lab1-create-button-hover-background-color: #36f93341;
$lab1-shade-button-hover-background-color: #65e3ff6b;
$lab1-apply_color-button-hover-background-color: #a231f960;
$lab1-draw_circle-button-hover-background-color: #ffd33642;

$form-input-font-color: #A8A8A8;
$form-input-background-color: #373333;



